{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for product in object_list %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}