{% load static %}
<!-- Navbar -->

<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo"
                 class="brand-image"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Eslyn</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'catalogs' %}" class="nav-link"><i class="fas fa-home"></i> Inicio</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'product_list' %}" class="nav-link"><i class="fas fa-truck-loading"></i> Productos</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{%  url 'contact' %}" class="nav-link"><i class="fas fa-envelope-open-text"></i> Contáctenos</a>
                </li>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
            </li>
            
        </ul>
        {% else %}
        
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Iniciar Sesión</a>
            </li>
        </ul>
        {% endif %}
    </div>
    
</nav>


<!-- /.navbar -->