{% extends 'home.html' %}
{% block body %}

<body class="hold-transition login-page">
    {% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/">Registro de usuario</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingrese los siguientes campos para terminar su registro</p>
                <form action="." method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i>¡Ha ocurrido un error al guardar el registro!</h5>
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>
                                {{error}}
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>

                    </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="ejm">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar y terminar
                </button>
            </div>
            </form>
        </div>
    </div>
    </div>
    {% endblock %}
</body>
{% endblock %}